@font-face {
    font-family: 'Recoleta';
    src: url('subset-Recoleta-Regular.woff2') format('woff2'),
        url('subset-Recoleta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recoleta';
    src: url('subset-Recoleta-Bold.woff2') format('woff2'),
        url('subset-Recoleta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
